
body {
  margin: 0;
  font-family: var(--fuente-principal);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/fonts/NeueMontreal-Regular.woff2') format('woff2'),
       url('./assets/fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RecklessNeue';
  src: url('./assets/fonts/RecklessNeue-Regular.woff2') format('woff2'),
       url('./assets/fonts/RecklessNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ... (Todo tu código @font-face se mantiene igual) ... */
:root {
  /* color */
  --auxiliary-acentos-1: #c55a26;
  --auxiliary-acentos-2: #e3be86;
  --auxiliary-hover: #faa82a;
  --azul-secundario: #2a647f;
  --basics-black: #000000;
  --basics-white: #f1f0ea;
  --primary-fondo: var(--basics-white);
  --primary-secciones-1: #112c50;
  --secondary-secciones-2: #b9cade;
  --secondary-secciones-3: #d7c2b6;
  --text-on-dark: var(--basics-white);
  --text-primary: var(--basics-black);

  /* tamaños */
  --padding-header: 10px;
  --padding--top-segunda-parte-header: 1em;
  --padding-nav-links: 0;
  --padding-top-hero-content: 3em;
  --padding-bottom-hero-content:5em; 
  --padding-btn: 10px 20px;
  --padding-btn-klaus: 7px 10px;
  --padding-none: 0;
  --margin-none: 0;
  --position-relative: relative;
  --position-absolute: absolute;
  --width-top-bar-content: 90%;
  --width-top-bar: 100%;
  --width-nav-img: 150px;
  --width-nav-container-img: 150px;
  --padding-top-bar: 10px;
  --padding-top-nav-container: 20px;
  --padding-hero-content-top: 5em;
  --padding-hero-content-bottom: 5em;
  --padding-segunda-parte-header: 2em;
  --page-margin-horizontal: 120px;
  --min-height-segunda-parte-header: 600px;

  --margin-top-bar-content: 0 auto;
  --margin-bottom-intro-items: 1.5em;
  --margin-nav-container: 0 auto;
  --margin-nav-links: 0;
  --margin-top-hero-content-h1: 0.25em;
  --margin-bottom-hero-content-h1: 0.5rem;
  --margin-hero-content-p: 0 0 1.7em 0;
  --gap-elementos-final-header: 20px;
  --gap-nav-link: 25px;
  --gap-hero-buttons: 20px;

  --page-column-gap: 20px;

  /* Typography */
  --fuente-principal: 'NeueMontreal', sans-serif;
  --fuente-secundaria: 'RecklessNeue', serif;
  --font-style-italic: italic;
  --font-weight-bold: bold;

  /* number */
  --size-button-text: 0.875rem;
  --size-parrafo: 0.9rem;
  --size-h4: 0.7rem;
  --size-texto-destacado: 1.25rem;
  --size-h3: 2rem;
  --size-h2: 2.25rem;
  --size-h1: 2.6rem;
  --font-size-nav-links: 0.7rem;
  --font-size-btn-primary: 0.7rem;
  --font-size-btn-secondary: 0.7rem;
  --font-size-intro-h3: 1.7rem;
  --font-size-intro-p: 0.7rem;


  --width-viewport: 100vw;
  --offset-viewport: 50vw;
  --offset-container: 50%;
  --justify-content-center: center;
  --overflow-hidden: hidden;

  --height-services-image-bg: 100%;


  --object-fit-cover: cover;

  --z-index-foreground: 2;
  --max-width-superimposed-text: 800px;
  --min-height-hero-services: 450px;
  --position-absolute-offset: 0;
  --z-index-background: 1;
  --width-full: 100%;
  --radius-none: 0;
  --filter-brightness-image: brightness(0.6);

  --font-size-top-bar: 0.6rem;

  /* string */
  --weight-parrafo: Regular;

  /* Borders*/
  --radius-button-radius: 0.625rem;

  /* alineación */
  --align-items-center: center;
  --display-flex: flex;
  --flex-direction-column: column;

    
  /* Espaciado de Secciones */
  --spacing-section-vertical: 50px;
  --padding-section-vertical: 50px;
  --padding-section-horizontal: 40px;

  /* Radios de Borde */
  --radius-section: 12px;
  --radius-image-about: 20px;


  /* Tipografía Específica */
  --size-h2-about: 1.5rem;
  --padding-bottom-about-h2: 35px;
  --margin-bottom-about-p: 1.2em;
  --margin-top-about-btn: 1.5em;

  --width-h2-pseudo: 33px;
  --height-h2-pseudo: 5px;
  --margin-bottom-h2-pseudo: 10px;

  /* Alineación General */
  --align-self-flex-start: flex-start;
  --text-align-center: center;
  --align-items-flex-start: flex-start; 

  --min-height-hero-services: 450px;
  --position-absolute-offset: 0;
  --z-index-background: 1;
  --z-index-foreground: 2;
  --width-full: 100%;
  --height-full: 100%;
  --radius-none: 0;
  --filter-brightness-image: brightness(0.6);
  --max-width-superimposed-text: 800px;
}

.hero {
  color: var(--basics-white);
}

.top-bar {
  width: var(--width-top-bar);
  background-color: var(--primary-secciones-1);
  color: white;
  padding: var(--padding-top-bar) 0;
  display: grid;
  grid-template-columns: var(--page-margin-horizontal) repeat(12, 1fr) var(--page-margin-horizontal); 
  column-gap: var(--page-column-gap); 
  font-size: var(--font-size-top-bar);
}



.top-bar-content a {
  text-decoration: none;
  color: var(--basics-white);
}

.top-bar-content {
  grid-column: 2 / span 12;

  display: flex;
  justify-content: space-between;
  align-items: var(--align-items-center); 
} 

.elementos-final-header {
  display: flex; 
  align-items: center; 
  gap: var(--gap-elementos-final-header);
}

/* Estilos del Hero */
.segunda-parte-header {
  background-image: url(./assets/img/header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: var(--min-height-segunda-parte-header);
  padding-bottom: var(--padding-segunda-parte-header); 

  display: grid;
  grid-template-columns: var(--page-margin-horizontal) repeat(12, 1fr) var(--page-margin-horizontal);
  column-gap: var(--page-column-gap); 
  align-content: start;
}

.nav-container {
  grid-column: 2 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: var(--align-items-center);
  padding-top: var(--padding-top-nav-container);
  padding-bottom: var(--padding-top-nav-container);
}

.nav-container img {
  width: var(--width-nav-container-img);
}

.nav-links {
  display: flex;
  list-style: none; 
  padding: var(--padding-nav-links);
  margin: var(--margin-nav-links);
  gap: var(--gap-nav-link); 
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-nav-links);
}

.nav-links a {
  text-decoration: none; 
  color: var(--basics-white); 
}

.hero-content {

  grid-column: 2 / span 12;
  
  padding-top: var(--padding-hero-content-top); 
  padding-bottom: var(--padding-hero-content-bottom); 
  text-align: left;
}

.hero-content .span-hero-content{
  font-style: var(--font-style-italic);
  font-weight: var(--font-style-bold);
}

.hero-content h1 {
  font-family: var(--fuente-secundaria);
  font-size: var(--size-h1);
  color: var(--text-on-dark);
  margin-top: var(--margin-top-hero-content-h1);
  margin-bottom: var(--margin-bottom-hero-content-h1);
}

.hero-content p {
  font-family: var(--fuente-principal);
  font-size: var(--size-parrafo);
  color: var(--text-on-dark);
  margin: var(--margin-hero-content-p);
}

.hero-buttons {
  display: flex; 
  gap: var(--gap-hero-buttons);
}

.btn {
  padding: var(--padding-btn);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-button-radius);
}

.btn.primary {
  background-color: var(--auxiliary-acentos-2);
  color: var(--basics-black);
  font-size: var(--font-size-btn-primary);
}

.btn.secondary {
  background-color: var(--auxiliary-acentos-1);
  color: var(--basics-white);
  font-size: var(--font-size-btn-secondary);
}


main.page-container {
  display: grid;
  
  /* Aplicamos el MISMO grid que tiene el header */
  grid-template-columns: var(--page-margin-horizontal) repeat(12, 1fr) var(--page-margin-horizontal); 
  column-gap: var(--page-column-gap); 
  width: 100%;
  box-sizing: border-box;
}

.about{
  grid-column: 3 / span 10; 
  width: auto;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: var(--spacing-section-vertical); 
  margin-bottom: var(--spacing-section-vertical);
}

.services,
.team,
.testimonials,
.contact-form,
.location {
  grid-column: 2 / span 12; 

  width: auto;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: var(--spacing-section-vertical); 
  margin-bottom: var(--spacing-section-vertical);
}

.about {
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  border-radius: var(--radius-section);
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: var(--page-column-gap); 
  align-items: var(--align-items-center); 
}
.about article {
  grid-column: 1 / span 6; 
}
.about aside {
  grid-column: 8 / span 5; 
  
}

.about img {
  border-radius: var(--radius-image-about);
  grid-column: 1 / -1;
  width: 100%; 
  height: auto; 
  display: block;
}

.about article h2 {
  font-size: var(--size-h2-about);
  padding-bottom: var(--padding-bottom-about-h2);
  font-family: var(--fuente-secundaria);
}

.about article p {
  font-size: var(--font-size-nav-links); 
  margin-bottom: var(--margin-bottom-about-p);
}

/* selector para poner linea azul en el h2*/
.about article h2::before {
  content: '';
  display: block;
  width: var(--width-h2-pseudo);
  height: var(--height-h2-pseudo);
  background-color: var(--azul-secundario);
  margin-bottom: var(--margin-bottom-h2-pseudo);
}

.about article .btn.klaus {
  display: inline-block;
  margin-top: var(--margin-top-about-btn);
}


.services {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: var(--page-column-gap);
  padding: var(--padding-none); 
  border-radius: var(--radius-section);
}

.services-intro {
  position: var(--position-relative);
  z-index: var(--z-index-foreground);
  
  color: var(--basics-white);
  text-align: var(--text-align-center);
  max-width: var(--max-width-superimposed-text);
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  align-items: var(--align-items-center); 
}


.services-intro h3,
.services-intro p {
  color: var(--basics-white);
  margin: var(--margin-none);
  margin-bottom: var(--margin-bottom-intro-items); 
}

.services-intro h3 {
  font-size: var(--font-size-intro-h3);
  font-family: var(--fuente-secundaria);
}

.services-intro .btn {
  display: inline-block; 
}


.services-image {
  grid-row: 1;
  /* atajo para que ocupe todas las columnas*/
  grid-column: 1 / -1;
  
  width: var(--width-viewport);
  position: var(--position-relative);
  /*Mueve este elemento 50% del ancho de la pantalla hacia la izquierda, 
  y luego 50% del ancho de su contenedor hacia la derecha*/
  margin-left: calc( (var(--offset-viewport) * -1) + var(--offset-container) );
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  align-items: var(--align-items-center);
  min-height: var(--min-height-hero-services); 
}

.services-image img {
  position: var(--position-absolute);
  z-index: var(--z-index-background);
  width: var(--width-full);
  height: var(--height-services-image-bg);
}

.services-content { 
  grid-row: 2;
  grid-column: 2 / span 10; 
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  text-align: var(--text-align-center);
  background-color: var(--background-section-1);
}

.team {
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  border-radius: var(--radius-section);
  background-color: var(--background-section-2);
}

.testimonials {
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  border-radius: var(--radius-section);
}

.contact-form {
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  border-radius: var(--radius-section);
}

.location {
  padding: var(--padding-section-vertical) var(--padding-section-horizontal);
  border-radius: var(--radius-section);
}